.iml
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*.loc
*.soc
*~
*.bcf
*.run.xml
*.synctex.gz
*.synctex(busy)
*converted-to.pdf
*.fdb_latexmk
*.fls
.DS_Store
desktop.ini
/*/.DS_Store
/.vscode/

.project
.texlipse
.idea/
/tmp
out/
